<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="/styles.css"> <!-- Example of linking a CSS file -->
</head>
<body>
    <header>
        <h1>Quick-Meds </h1>
    </header>
    <main>
        <div>
            <% if (allUsers.length > 0) { %>
                <% for (const user of allUsers) { %>
                   <a > <h4><%= user.Shop_Name %></h4></a>
                <% } %>
            <% } else { %>
                <p>No users found.</p>
            <% } %>
        </div>
    </main>
    <footer>
        <p>&copy; 2024 Quick Meds. All rights reserved.</p>
    </footer>
</body>
</html>
