<% layout("layouts/boilerplate.ejs") %> 
<body>
    <h1>Add new medico</h1>

    <form action="/home" method="POST">
        <label for=" Shop_Name">Shop Name</label>
        <input type="text" name="owner[Shop_Name]" id=" Shop_Name" placeholder="Enter shop name" >
        <br><br>
        
        <label for="description">Shop Description</label>
        <textarea name="owner[description]" id="description" placeholder="Enter something about shop" ></textarea>
        <br><br>

        <label for="image">Shop Image</label>
        <input type="text" name="owner[image]" id="image" placeholder="Enter image URL">
        <br><br>

        <label for="location">Shop Location</label>
        <input type="text" name="owner[location]" id="location" placeholder="Enter shop location" >
        <br><br>

        <label for="country">Country</label>
        <input type="text" name="owner[country]" id="country" placeholder="Enter country" >
        <br><br>

        <button type="submit">Add</button>
    </form>
</body>

