<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Add new medico</h1>

    <form action="/home" method="GET">
        <label for="Shop Name">Shop Name</label>
        <input type="text" id="Shop Name" placeholder="Enter shop Name">

        <button>Add</button>
    </form>
</body>
</html>