<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medicines Website</title>
    <link rel="stylesheet" href="css/navbar&footer.css">
   
</head>
<body>
    <nav class="navbar">
        <a href="/home"><div class="logo">Quick-Meds</div>  </a>

        <a href="/addresses/address">
            <div class="address">
                <h4>Address</h4>
            </div>
        </a>
        
        

        <div class="search-container">
            <input type="text" placeholder="Search..." class="search-bar">
        </div>

        <ul class="nav-links" id="navLinks">
            <li><a href="/about">About</a></li>
            <% if(!currUser){ %>
                <li><a href="/signup">Signup</a></li>
                <li><a href="/login">Login</a></li>
            <% } %>
            <% if(currUser){ %>
                <li><a href="/logout">Logout</a></li>
            <% } %>
        </ul>


        
       
        
    </nav>

    <script src="scripts.js"></script>
    
</body>
</html>
