<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <% layout("layouts/boilerplate.ejs") %>
    <title>Create Account</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <div class="container">
        <h2>Create Account As</h2>
        <a class="account-option" href="/signup/doctor">Doctor</a>
        <a class="account-option" href="/signup/user">User</a>
        <a  href="/login">Already have an account? Login</a>
    </div>
    <footer>
        <div class="footer-content">
            <p>&copy; 2024 Quick-Meds. All Rights Reserved.</p>
            <div class="footer-links">
                <a href="#">Privacy Policy</a>
                <a href="#">Terms of Service</a>
            </div>
        </div>
    </footer>
</body>
</html>
