<% layout("layouts/boilerplate.ejs") %>


<title>Login</title>
<link rel="stylesheet" href="css/styles.css"> <!-- Link to your existing CSS file -->
</head>
<body>
    <nav>
   

    <div class="container">
        <h2 class="mt-5">Login</h2>
        <form action="/login" method="POST">
            <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" class="form-control" id="username" name="username" required>
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" class="form-control" id="password" name="password" required>
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
            <a href="/signup">Don't have account ? Signup</a>
        </form>
        
    </div>

    <footer>
        <div class="footer-content">
            <p>&copy; 2024 Quick-Meds. All Rights Reserved.</p>
            <div class="footer-links">
                <a href="#">Privacy Policy</a>
                <a href="#">Terms of Service</a>
            </div>
        </div>
    </footer>
</body>


